<header class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">Alex Cepoi</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{range .Site.Menus.main}}
        <li {{if eq .Name $.Title}}class="active"{{end}}>
          <a href="{{.URL}}">{{.Pre}} {{.Name}}</a>
        </li>
        {{end}}
      </ul>
    </div>

  </div>
</header>
